body {
  background: #485563;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #29323c, #485563);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #29323c, #485563); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  font-family: 'Open Sans', sans-serif;
  font-size: 11px;
  font-weight: 300;
  fill: #ffffff;
  text-align: center;
  text-color: white;
  cursor: default;
}

li {
    list-style-type: none;
}

ul {
  padding: 0px;
}


#top10 {
  /* display:inline; */
  /* float: left; */
  text-align: left;
  color: white;
  /* width: 300px; */
}

.radarChart {
  float: right;
  /* display: inline; */
  width: 800px;
}

#userwelcome {
    color: #ffffff;
    text-shadow: none;
}

#Welcome-User {
  margin-top: 100px;
}
.mainPage {
  display: block;
  padding-top: 50px;
  height: 800px;
  /* border: 1px solid white; */
}

.legend {
  font-family: 'Raleway', sans-serif;
  fill: #ffffff;
}

.tooltip {
  fill: #ffffff;
}

.inner-div
{
    display: block;
    /* width: 300px; */
     /* margin: auto;
     margin-top: 70px;
     width: 800px;
     height: 800px; */
}

.navigation-bar {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  overflow: hidden;
  background: #485563;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #29323c, #485563);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #29323c, #485563); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.navigation-bar a {
  display: inline-block;
  font-size: 20px;
  padding: 12px 24px 12px 24px;
  /* color: rgba(0,0,0,0.6); */
  color: white;

  text-decoration: none;
  text-align: center;
  /* transition: all 0.3s ease; */
  cursor: pointer;
}

.navigation-bar a.icon {
  display: none;
}

.lineGraph {
  margin-top: 200px;
}

.active {
  border: none;
  border-bottom: 2px solid #4CAF50;
}

.navigation-bar a:hover:not(.active) {
  border: none;
  border-bottom: 2px solid #4CAF50;
}

.navItems {
  float: right;
}
