body {
  background: #485563;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #29323c, #485563);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #29323c, #485563); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  font-family: 'Open Sans', sans-serif;
  font-size: 11px;
  font-weight: 300;
  fill: #ffffff;
  text-align: center;
  color: white;
  cursor: default;
}

li {
    list-style-type: none;
}

ul {
  padding: 0px;
}

#Song-Recommendation{
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid black;
}

#top10 {
  /* display:inline; */
  /* float: left; */
  text-align: left;
  color: white;
  /* width: 300px; */
}

#Song-Recommendation{
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  border: 2px solid black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.songdiv {
  /* border: 2px solid black; */
  height: 80px;
}

.SongRecButton{
  height: 80px;
  width: 80px;
  float: left;
  background-color: black;
  color: white;
}

.radarChart {
  float: right;
  /* display: inline; */
  width: 800px;
}

.radarText {
  color: #ffffff;
  float: right;
  width: 30%;
}

#userwelcome {
    color: #ffffff;
    text-shadow: none;
}

#Welcome-User {
  margin-top: 100px;
}

.mainPage {
  width: 100%;
  height: 60vh;
}

.mainPageSmall {
  width: 100%;
  height: auto;
}

.mainPageTop {
  width: 100%;
  height: 70vh;
}

.mainPageTopSmall {
  width: 100%;
  height: auto;
}

.divider {
  width: 100%;
  height: 10vh;
}

.legend {
  font-family: 'Raleway', sans-serif;
  fill: #ffffff;
}

.tooltip {
  fill: #ffffff;
}

.innerTextDiv
{
     margin: 0 5%;
     width: 46%;
     height: 100%;
     float: left;
}

.innerChartDiv
{
     margin: 0 2%;
     width: 40%;
     height: 100%;
     float: left;
}

.innerTextDivSmall
{
     margin: 0;
     width: 100%;
     height: auto;
}

.innerChartDivSmall
{
     margin: 0;
     width: auto;
}

.topSongsDiv
{
  margin-left: 5%;
  width: 25%;
  height: 100%;
  float: left;
  border-radius: 10%;
  background-color: rgba(0,0,0,0.2);
}

.innerTextTopDiv
{
     margin-right: 5%;
     width: 25%;
     height: 100%;
     float: left;
}

.innerChartTopDiv
{
     margin: 0 0%;
     width: 40%;
     height: 100%;
     float: left;
}

.topSongsDivSmall
{
  width: 100%;
  height: auto;
  float: left;
  border-radius: 10%;
  background-color: rgba(0,0,0,0.2);
}

.innerTextTopDivSmall
{
  width: 100%;
  height: 100%;
  float: left;
}

.innerChartTopDivSmall
{
  margin: 0 0%;
  width: 100%;
  height: 100%;
  float: left;
}

.navigation-bar {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  overflow: hidden;
  background: #485563;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #29323c, #485563);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #29323c, #485563); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.navigation-bar a {
  display: inline-block;
  font-size: 20px;
  padding: 12px 24px 12px 24px;
  /* color: rgba(0,0,0,0.6); */
  color: white;

  text-decoration: none;
  text-align: center;
  /* transition: all 0.3s ease; */
  cursor: pointer;
}

.navigation-bar a.icon {
  display: none;
}

.active {
  border: none;
  border-bottom: 2px solid #4CAF50;
}

.navigation-bar a{
  border-bottom: 2px solid #485563;  /* fallback for old browsers */
  border-bottom: 2px solid -webkit-linear-gradient(to right, #29323c, #485563);  /* Chrome 10-25, Safari 5.1-6 */
  border-bottom: 2px solid linear-gradient(to right, #29323c, #485563); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.navigation-bar a:hover:not(.active) {
  border: none;
  border-bottom: 2px solid #4CAF50;
}

.navItems {
  float: right;
}

.domain {
  stroke: #ffffff;
  opacity: 0.85;
}

.axis {
  stroke: #ffffff;
  opacity: 0.85;
}

.tick {
  stroke: #ffffff;
  opacity: 0.85;
}

line {
  stroke: #ffffff;
  opacity: 0.85;
}

.mood {
  height: 70px;
  width: 70px;
  line-height: 70px;
  text-align: center;
  border: 2px dashed #f69c55;
}
