<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Moodify</title>

    <!-- Bootstrap Core CSS -->
    <!-- {{ url_for('.static', filename='css/main.css') }} -->
    <link rel="stylesheet" href="{{ url_for('.static', filename='css/bootstrap.min.css') }}" type="text/css">

    <!-- Slider CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.6.1/css/bootstrap-slider.css" integrity="sha256-jdZgwzG/YTTVCVs+8oG9il7UD/T5P1oaQ2S83BF1D8s=" crossorigin="anonymous" />

    <!-- Custom Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ url_for('.static', filename='font-awesome/css/font-awesome.min.css') }}" type="text/css">

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="{{ url_for('.static', filename='css/animate.min.css') }}" type="text/css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ url_for('.static', filename='css/main.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('.static', filename='css/history.css') }}" type="text/css">


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>


<body id="page-top">
  <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!-- // TODO fix logo -->
            <!-- <li><a class="brand-image"><img class="brand-image" src="../img/logo_v2.png" height="42" width="42"/></a></li> -->
            <a class="navbar-brand page-scroll" href="#page-top">Moodify</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a class="page-scroll" href="#about">About</a>
                </li>
                <li>
                    <a class="page-scroll" href="#contact">Contact</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

  <header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Your Spotify usage analysed and visualised</h1>
            <hr>
            <p> Start by securely login into Spotify and giving us some permission to analyze Spotify's data about you, using artificial intelligence.
                This will result in a completely personalised webpage featuring interesting statistics about you and services tailered to you like never seen before.
            </p>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2 col-md-4 col-md-offset-2 col-sm-4 col-sm-offset-2 col-xs-6 text-center">
                    <a href="/login" class="btn btn-primary btn-xl">Get Started!</a>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 text-center">
                    <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
                </div>
            </div>
        </div>
    </div>
</header>

  <section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Take a closer look at yourself</h2>
                <hr class="light">
                <p class="text-faded">
                    Moodify is a brand new innovative application which takes you on a journey through your Spotify history. At the start of this journey, advanced artificial intelligence is employed to analyse your personal spotify usage. Moodify then displays interesting insights into your behaviour and mood through intuitive and completely customizable interfaces. In these interfaces, you can evaluate mood patterns over time and view statistics about the songs you listen to. On top of this Moodify features tailor-made song recommendations based on your current or desired mood. To strengthen the connection between you and Moodify, the application allows you to optimize their personal mood analyses by using a feedback interface that specifies how a given song makes them feel.
                </p>
                <a href="/login" class="btn btn-default btn-xl">Get Started!</a>
            </div>
        </div>
    </div>
</section>

  <section id="contact" class="background-white">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Let's get in touch!</h2>
                <hr class="primary">
                <p>Check out the following links to further discover the wonders of this open source project or contact customer service with any complaints, suggestions or compliments.</p>
            </div>

        <div class="col-lg-2 col-lg-offset-3 col-xs-3 col-xs-offset-2 col-sm-2 col-sm-offset-3 col-md-2 col-md-offset-3 text-center img img-fluid" max-height=auto max-width=20px>
            <a href="mailto:moodify@diallom.com">
                <img class="img wow bounceIn" data-wow-delay=".1s"src="{{ url_for('.static', filename='img/envelope.png') }}" height=50% width=50%>
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-2 col-xs-3 col-xs-offset-2 col-sm-2 col-sm-offset-2 col-md-2 col-md-offset-2 text-center img img-fluid">
            <a href="https://github.com/high-mood" target="_blank">
                <img class="img wow bounceIn" data-wow-delay=".1s" src="{{ url_for('.static', filename='img/github.svg') }}" height=50% width=50%>
            </a>
        </div>
    </div>
</section>

  <!-- jQuery -->
<script type="text/javascript" src="{{ url_for('.static', filename='js/jquery.js') }}"></script>

<!-- Bootstrap Core JavaScript -->
<script type="text/javascript" src="{{ url_for('.static', filename='js/bootstrap.min.js') }}"></script>

<!-- Plugin JavaScript -->
<script type="text/javascript" src="{{ url_for('.static', filename='js/jquery.easing.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('.static', filename='js/jquery.fittext.js') }}"></script>
<script type="text/javascript" src="{{ url_for('.static', filename='js/wow.min.js') }}"></script>

<!-- Custom Theme JavaScript -->
<script type="text/javascript" src="{{ url_for('.static', filename='js/creative.js') }}"></script>


</body>

</html>
